<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:15:27 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="asset/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="asset/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="asset/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="asset/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="asset/css/style.css"> -->
    <link rel="stylesheet" href="asset/css/style.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
</head>


<body>
    <div class="preloader"></div>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="/"><img src="asset/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li>
                                <a href="/">Home</a>

                            </li>
                            <li>
                                <a href="/shop">Shop</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            <li>
                                <a href="/blog">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <%if(locals.user){%>
                            <a class="action" href="/profile" role="button" ><i class="pe-7s-user"></i></a>
                            <%}else{%>
                                <a class="action" href="/login" role="button" ><i class="pe-7s-user"></i></a>
                                <%}%>
                        </div>
                        <a class="action" href="/wishlist"><i class="pe-7s-like"></i></a>

                        <div class="dropdown">
                            <a class="action" href="/showcart" role="button" >
                                <i class="pe-7s-shopbag"></i>
                            </a>

                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
<div class="header-mobile section d-lg-none">
    <!-- Header Mobile top Start -->
    <div class="header-mobile-top header-sticky">
        <div class="container">
            <div class="row row-cols-3 gx-2 align-items-center">
                <div class="col">
                    <!-- Header Toggle Start -->
                    <div class="header-toggle">
                        <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                    <!-- Header Toggle End -->
                </div>
                <div class="col">
                    <!-- Header Logo Start -->
                    <div class="header-logo text-center">
                        <a href="index.html"><img src="asset/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col">
                    <!-- Header Action Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li>
                                    <a href="/profile">My Account</a>
                                </li>
                                <li><a href="/login">Sign In</a></li>
                            </ul>
                        </div>
                        <a class="action" href="/cart">
                            <i class="pe-7s-shopbag"></i>
                            <span class="number">3</span>
                        </a>
                    </div>
                    <!-- Header Action End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header Mobile top End -->
</div>
<!-- Header Mobile End -->

<!-- off Canvas Start -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
    <div class="offcanvas-header">

        <!-- Canvas Close bar Start -->
        <div class="canvas-close-bar">
            <span>Menu</span>
            <button class="menu-close" data-bs-dismiss="offcanvas">
                <i class="pe-7s-angle-left"></i>
            </button>
        </div>
        <!-- Canvas Close bar End -->
    </div>

    <div class="offcanvas-body">
        <!-- Canvas Menu Start -->
        <div class="canvas-menu">
            <nav>
                <ul class="nav-menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li><a href="/about">About</a></li>
                    <li>
                        <a href="/shop">Shop</a>        
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- Canvas Menu End -->
    </div>
</div>
<!-- off Canvas End -->
