<%- include('../layouts/header.ejs') -%>
   <!-- History Section Start -->
   <div class="section section-padding-02"><br><hr><br><br><br>
    <div class="container">
        <!-- History content End -->
        <div class="history-content text-center">
            <div class="section-title-03">
                <h6 class="sub-title">Our History</h6>
                <h2 class="title">Furbar Furniture Shop</h2>
            </div><br><br>

            <p>
                Lorem ipsum dolor sit amet, consectet adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nullaotho pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum. Sed ut perspiciatis
                unde omnis iste natusxcl error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dictapteo sunt explicabo. Nemo
                enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit aut fugit, sed quia consequuntur magni dolores eos
                qui ratione voluptatem drt sequi nesciunt. Neque porro
                quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam
                quaerat voluptatem.
            </p>
        </div>
        <!-- History content End -->

        <!-- History Icon End -->
        <div class="history-icon text-center">
            <img src="asset/images/icon/icon-5.jpg" alt="Icon" />
        </div>
        <!-- History Icon End -->
    </div>
</div>
<!-- History Section End -->

<!-- Images Gallery Section Start -->
<div class="section section-padding-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Image Gallery Start -->
                <div class="image-gallery">
                    <img src="asset/images/images-gallery/image-1.jpg" width="770" height="290" alt="gallery" />
                </div>
                <!-- Image Gallery End -->
            </div>
            <div class="col-lg-4">
                <!-- Image Gallery Start -->
                <div class="image-gallery">
                    <img src="asset/images/images-gallery/image-2.jpg" width="370" height="290" alt="gallery" />
                </div>
                <!-- Image Gallery End -->
            </div>
            <div class="col-lg-6">
                <!-- Image Gallery Start -->
                <div class="image-gallery">
                    <img src="asset/images/images-gallery/image-3.jpg" height="570" height="290" alt="gallery" />
                </div>
                <!-- Image Gallery End -->
            </div>
            <div class="col-lg-6">
                <!-- Image Gallery Start -->
                <div class="image-gallery">
                    <img src="asset/images/images-gallery/image-4.jpg" width="570" height="290" alt="gallery" />
                </div>
                <!-- Image Gallery End -->
            </div>
        </div>
    </div>
</div>
<!-- Images Gallery Section End -->

<!-- Counter Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- Single Counter Start -->
                <div class="single-counter">
                    <span class="count"
                            ><span
                                class="odometer"
                                data-count-to="21"
                            ></span><sub>+</sub></span>
                    <p>Years of Exprience</p>
                </div>
                <!-- Single Counter End -->
            </div>
            <div class="col-lg-3 col-6">
                <!-- Single Counter Start -->
                <div class="single-counter">
                    <span class="count"
                            ><span
                                class="odometer"
                                data-count-to="30"
                            ></span><sub>K</sub></span>
                    <p>Happy Customers</p>
                </div>
                <!-- Single Counter End -->
            </div>
            <div class="col-lg-3 col-6">
                <!-- Single Counter Start -->
                <div class="single-counter">
                    <span class="count"
                            ><span
                                class="odometer"
                                data-count-to="15"
                            ></span><sub>+</sub></span>
                    <p>Award Winner</p>
                </div>
                <!-- Single Counter End -->
            </div>
            <div class="col-lg-3 col-6">
                <!-- Single Counter Start -->
                <div class="single-counter">
                    <span class="count"
                            ><span
                                class="odometer"
                                data-count-to="100"
                            ></span><sub>%</sub></span>
                    <p>Products Guranteed</p>
                </div>
                <!-- Single Counter End -->
            </div>
        </div>
    </div>
</div>
<!-- Counter Section End -->

<!-- Testimonial Section Start -->
<div class="section section-padding bg-color-02">
    <div class="container">
        <!-- Testimonial Wrapper Start -->
        <div class="testimonial-wrapper testimonial-active">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <img class="quote" src="asset/images/icon/quote.png" alt="Icon" />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore dolorelo magna aliqua.
                            Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit
                        </p>
                        <img class="author-thumb" src="asset/images/author-1.jpg" width="100" height="100" alt="Author" />
                        <h6 class="name">Taelynn Thorpe</h6>
                        <span class="designation">Customer</span>
                    </div>
                    <!-- single Testimonial End -->

                    <!-- single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <img class="quote" src="asset/images/icon/quote.png" alt="Icon" />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore dolorelo magna aliqua.
                            Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit
                        </p>
                        <img class="author-thumb" src="asset/images/author-1.jpg" width="100" height="100" alt="Author" />
                        <h6 class="name">Taelynn Thorpe</h6>
                        <span class="designation">Customer</span>
                    </div>
                    <!-- single Testimonial End -->

                    <!-- single Testimonial Start -->
                    <div class="single-testimonial swiper-slide">
                        <img class="quote" src="asset/images/icon/quote.png" alt="Icon" />
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore dolorelo magna aliqua.
                            Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit
                        </p>
                        <img class="author-thumb" src="asset/images/author-1.jpg" width="100" height="100" alt="Author" />
                        <h6 class="name">Taelynn Thorpe</h6>
                        <span class="designation">Customer</span>
                    </div>
                    <!-- single Testimonial End -->
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- Testimonial Wrapper End -->
    </div>
</div>
<!-- Testimonial Section End -->

<!-- Team Section Start -->
<div class="section section-padding-02">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title-03 text-center">
            <h6 class="sub-title">Our Team</h6>
            <h2 class="title">Meet Our Team</h2>
        </div>
        <!-- Section Title End -->

        <div class="team-wrapper">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Team Satrt -->
                    <div class="single-team">
                        <div class="team-images">
                            <img src="asset/images/team/team-1.jpg" width="370" height="406" alt="Team" />
                        </div>
                        <div class="team-content">
                            <h5 class="name">Makiyah Yeager</h5>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Team Satrt -->
                    <div class="single-team">
                        <div class="team-images">
                            <img src="asset/images/team/team-2.jpg" width="370" height="406" alt="Team" />
                        </div>
                        <div class="team-content">
                            <h5 class="name">Taelynn Thorpe</h5>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Team Satrt -->
                    <div class="single-team">
                        <div class="team-images">
                            <img src="asset/images/team/team-3.jpg" width="370" height="406" alt="Team" />
                        </div>
                        <div class="team-content">
                            <h5 class="name">Sara Koivisto</h5>
                            <span class="designation">Customer</span>
                        </div>
                    </div>
                    <!-- Single Team End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Section End -->

<!-- Brand Logo Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="brand-row">
            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="asset/images/brand/brand-1.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="asset/images/brand/brand-2.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="asset/images/brand/brand-3.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="asset/images/brand/brand-4.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>

            <div class="brand-col">
                <!-- Single Brand Start -->
                <div class="single-brand">
                    <img src="asset/images/brand/brand-5.png" width="118" height="87" alt="brand" />
                </div>
                <!-- Single Brand Start -->
            </div>
        </div>
    </div>
</div>
<!-- Brand Logo Section End -->
<%- include('../layouts/footer.ejs') -%>