
<%- include('../layouts/header.ejs') -%>
    <!-- Blog Section Start -->
    <div class="section section-padding"><br><hr><br><br><br>
        <div class="container">
            <!-- Blog Wrapper Start -->
            <div class="blog-wrapper">
                <div class="row flex-row-reverse">
                    <div class="col-lg-8">
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <a href="blog-details-left-sidebar.html"><img src="asset/images/blog/blog-list-01.jpg" alt="Blog" /></a>

                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <i class="pe-7s-user"></i>
                                        <span> BY:<a href="#">ADMIN</a></span>
                                    </li>
                                    <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                </ul>
                                <h4 class="title">
                                    <a href="blog-details-left-sidebar.html">Unique products that will impress your home.</a>
                                </h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
                                    tempora illum, aliquam provident, necessitatibus impedit harum
                                    consequatur odio fugit sapiente officiis quis earum doloremque,
                                    laborum neque explicabo nisi soluta accusantium!
                                </p>
                                <a href="blog-details-left-sidebar.html" class="btn btn-dark btn-hover-primary">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog End -->

                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <div class="gallery-active">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="blog-image swiper-slide">
                                            <a href="blog-details-left-sidebar.html">
                                                <img src="asset/images/blog/blog-list-02.jpg" alt="Blog" />
                                            </a>
                                        </div>
                                        <div class="blog-image swiper-slide">
                                            <a href="blog-details-left-sidebar.html">
                                                <img src="asset/images/blog/blog-list-04.jpg" alt="Blog" />
                                            </a>
                                        </div>
                                        <div class="blog-image swiper-slide">
                                            <a href="blog-details-left-sidebar.html">
                                                <img src="asset/images/blog/blog-list-06.jpg" alt="Blog" />
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-prev">
                                        <i class="pe-7s-angle-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="pe-7s-angle-right"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <i class="pe-7s-user"></i>
                                        <span> BY:<a href="#">ADMIN</a></span>
                                    </li>
                                    <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                </ul>
                                <h4 class="title">
                                    <a href="blog-details-left-sidebar.html">Interior designer Nancy, the witch of the unique space.</a>
                                </h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
                                    tempora illum, aliquam provident, necessitatibus impedit harum
                                    consequatur odio fugit sapiente officiis quis earum doloremque,
                                    laborum neque explicabo nisi soluta accusantium!
                                </p>
                                <a href="blog-details-left-sidebar.html" class="btn btn-dark btn-hover-primary">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog End -->

                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <a href="blog-details-left-sidebar.html"><img src="asset/images/blog/blog-list-03.jpg" alt="Blog" /></a>

                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <i class="pe-7s-user"></i>
                                        <span> BY:<a href="#">ADMIN</a></span>
                                    </li>
                                    <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                </ul>
                                <h4 class="title">
                                    <a href="blog-details-left-sidebar.html">Decorate your home with the most modern furnishings.</a>
                                </h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
                                    tempora illum, aliquam provident, necessitatibus impedit harum
                                    consequatur odio fugit sapiente officiis quis earum doloremque,
                                    laborum neque explicabo nisi soluta accusantium!
                                </p>
                                <a href="blog-details-left-sidebar.html" class="btn btn-dark btn-hover-primary">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog End -->    
                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <a href="blog-details-left-sidebar.html"><img src="asset/images/blog/blog-list-05.jpg" alt="Blog" /></a>

                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <i class="pe-7s-user"></i>
                                        <span> BY:<a href="#">ADMIN</a></span>
                                    </li>
                                    <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                </ul>
                                <h4 class="title">
                                    <a href="blog-details-left-sidebar.html">Best desks that are stylish and functional with storage
                                        space.</a>
                                </h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
                                    tempora illum, aliquam provident, necessitatibus impedit harum
                                    consequatur odio fugit sapiente officiis quis earum doloremque,
                                    laborum neque explicabo nisi soluta accusantium!
                                </p>
                                <a href="blog-details-left-sidebar.html" class="btn btn-dark btn-hover-primary">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog End -->

                        <!-- Single Blog Start -->
                        <div class="single-blog">
                            <a href="blog-details-left-sidebar.html"><img src="asset/images/blog/blog-list-06.jpg" alt="Blog" /></a>

                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li>
                                        <i class="pe-7s-user"></i>
                                        <span> BY:<a href="#">ADMIN</a></span>
                                    </li>
                                    <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                </ul>
                                <h4 class="title">
                                    <a href="blog-details-left-sidebar.html">Digital technologies are improving and growing the design
                                        industry.</a>
                                </h4>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
                                    tempora illum, aliquam provident, necessitatibus impedit harum
                                    consequatur odio fugit sapiente officiis quis earum doloremque,
                                    laborum neque explicabo nisi soluta accusantium!
                                </p>
                                <a href="blog-details-left-sidebar.html" class="btn btn-dark btn-hover-primary">Read More</a>
                            </div>
                        </div>
                        <!-- Single Blog End -->

                        <!-- Page pagination Start -->
                        <div class="page-pagination">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Page pagination End -->
                    </div>
                    <div class="col-lg-4">
                        <!-- Sidebar Start -->
                        <div class="sidebar">
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget-02">
                                <div class="widget-search-02">
                                    <form action="#">
                                        <input type="text" placeholder="Search Your Article">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget-02">
                                <h4 class="widget-title-02">Recent Post</h4>

                                <div class="widget-recent-post">
                                    <div class="single-recent-post">
                                        <ul class="blog-meta">
                                            <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                        </ul>
                                        <h5 class="title">
                                            <a href="blog-details-left-sidebar.html">Digital technologies are improving and growing the design
                                                industry.</a>
                                        </h5>
                                    </div>
                                    <div class="single-recent-post">
                                        <ul class="blog-meta">
                                            <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                        </ul>
                                        <h5 class="title">
                                            <a href="blog-details-left-sidebar.html">Interior designer Nancy, the witch of the unique space.</a>
                                        </h5>
                                    </div>
                                    <div class="single-recent-post">
                                        <ul class="blog-meta">
                                            <li><i class="pe-7s-date"></i> <span>27 FEB 2023</span></li>
                                        </ul>
                                        <h5 class="title">
                                            <a href="blog-details-left-sidebar.html">Decorate your home with the most modern furnishings.</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->

                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget-02">

                                <h4 class="widget-title-02">Archives</h4>

                                <div class="widget-archives">
                                    <ul class="widget-link">
                                        <li><a href="#">January 2018</a></li>
                                        <li><a href="#">March 2019</a></li>
                                        <li><a href="#">February 2020</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget-02">

                                <h4 class="widget-title-02">Subscribe</h4>

                                <div class="widget-subscribe">
                                    <form action="#">
                                        <input type="text" placeholder="Enter Your Email">
                                        <button class="btn btn-primary btn-hover-dark">Subscribe Now</button>
                                    </form>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget-02">

                                <h4 class="widget-title-02">Categories</h4>

                                <div class="widget-archives">
                                    <ul class="widget-link">
                                        <li><a href="#">Furniture</a></li>
                                        <li><a href="#">eCommerce </a></li>
                                        <li><a href="#">Store Furniture</a></li>
                                        <li><a href="#">Offer Products</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                            <!-- Sidebar Widget Start -->
                            <div class="sidebar-widget-02">

                                <h4 class="widget-title-02">Meta</h4>

                                <div class="widget-archives">
                                    <ul class="widget-link">
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Register </a></li>
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">HTMl 5</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                        </div>
                        <!-- Sidebar End -->
                    </div>
                </div>
            </div>
            <!-- Blog Wrapper End -->
        </div>
    </div>
    <!-- Blog Section End -->

    <!-- Footer Section Start -->
    <div class="section footer-section">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="asset/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Footer Logo End -->
                    </div>
                    <div class="col-xl-5 col-md-8">
                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img src="asset/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                                </div>

                                <div class="contact-content">
                                    <h6 class="title">Call Us:</h6>
                                    <p>00 123 456 789</p>
                                </div>
                            </div>
                            <div class="footer-payment">
                                <img src="asset/images/payment.png" width="192" height="21" alt="Payment" />
                            </div>
                        </div>
                        <!-- Footer Contact & Payment End -->
                    </div>
                    <div class="col-xl-5">
                        <!-- Footer Subscribe End -->
                        <div class="footer-subscribe">
                            <span class="title">Subscribe Now :</span>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Your Mail" />
                                    <button>
                                        <i class="pe-7s-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- Footer Subscribe End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <%- include('../layouts/footer.ejs') -%>
