<%- include('../layouts/header.ejs') -%>



<!-- Page Banner Section Start -->
<div class="section page-banner-section" style="background-image: url(asset/images/page-banner.jpg)">
    <div class="container">
        <!-- Page Banner Content End -->
        <div class="page-banner-content">
            <h2 class="title">Checkout</h2>

            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Checkout</li>
            </ul>
        </div>
        <!-- Page Banner Content End -->
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Checkout Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="checkout-info">
            <p class="info-header">
                <i class="fa fa-exclamation-circle"></i> Have a coupon?
                <a data-bs-toggle="collapse" href="#coupon">Click here to enter your code</a>
            </p>

            <div class="collapse" id="coupon">
                <div class="card-body">
                    <form action="#" method="">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <input type="email" placeholder="Coupon code" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="single-form">
                                    <button class="btn btn-primary btn-hover-dark">
                                        Coupon
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <form action="/checkout?id=<%=id%>" method="post">
            <div class="row">
                <div class="col-lg-7">
                    <!-- Checkout Form Start -->
                    <div class="checkout-form">
                        <div class="checkout-title">
                            <h4 class="title">Billing details</h4>
                        </div>


                        <div class="row" >
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input type="text" name="firstName" placeholder="First name *" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input type="text" name="lastName" placeholder="Last name *" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <label class="form-label">address *</label>
                                    <input type="text" name="address" placeholder="Address" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <input type="text" name="Landmark" placeholder="Landmark *" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <input type="text" name="state" placeholder="State *" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <input type="text" name="city" placeholder="Town / City *" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-form">
                                    <input type="text" name="pincode" placeholder="Pincode *" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input type="text" name="phone" placeholder="Phone *" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-form">
                                    <input type="text" name="email" placeholder="Email address *" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Checkout Form End -->
                </div>
                <div class="col-lg-5">
                    <div class="checkout-order">
                        <div class="checkout-title">
                            <h4 class="title">Your Order</h4>
                        </div>

                        <div class="checkout-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="Product-name">
                                            Product
                                        </th>
                                        <th class="Product-price">
                                            Total
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="Product-name">
                                            <p>
                                                Bodysuit With Long
                                                Sleeves × 1
                                            </p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>
                                                Classic Polo Shirt × 1
                                            </p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>
                                                Trousers With Side
                                                Stripe × 1
                                            </p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Biker Jacket × 1</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Subtotal</p>
                                        </td>
                                        <td class="Product-price">
                                            <p>$150.00</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Shipping</p>
                                        </td>
                                        <td class="Product-price">
                                            <ul class="shipping-list">
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio1" checked />
                                                    <label for="radio1"><span></span>
                                                        Flat Rate</label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio2" />
                                                    <label for="radio2"><span></span>
                                                        Free
                                                        Shipping</label>
                                                </li>
                                                <li class="radio">
                                                    <input type="radio" name="shipping" id="radio3" />
                                                    <label for="radio3"><span></span>
                                                        Local
                                                        Pickup</label>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="Product-name">
                                            <p>Total</p>
                                        </td>
                                        <td class="total-price">
                                            <p>$600.00</p>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="checkout-payment">
                            <ul>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="bank" />
                                            <label for="bank"><span></span> Direct
                                                bank transfer
                                            </label>

                                            <div class="payment-details">
                                                <p>
                                                    Please send a Check
                                                    to Store name with
                                                    Store Street, Store
                                                    Town, Store State,
                                                    Store Postcode,
                                                    Store Country.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="check" />
                                            <label for="check"><span></span> Check
                                                payments
                                            </label>

                                            <div class="payment-details">
                                                <p>
                                                    Please send a check
                                                    to Store Name, Store
                                                    Street, Store Town,
                                                    Store State /
                                                    County, Store
                                                    Postcode.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="cash" checked="checked" />
                                            <label for="cash"><span></span> Cash on
                                                Delivery</label>

                                            <div class="payment-details">
                                                <p>
                                                    Pay with cash upon
                                                    delivery.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-payment">
                                        <div class="payment-radio radio">
                                            <input type="radio" name="radio" id="paypal" />
                                            <label for="paypal"><span></span> Paypal
                                                <img class="payment" src="asset/images/payment-2.html" alt="" />
                                                <a href="#">What is PayPal?</a></label>

                                            <div class="payment-details">
                                                <p>
                                                    Pay via PayPal; you
                                                    can pay with your
                                                    credit card if you
                                                    don’t have a PayPal
                                                    account.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="single-form">
                                <button type="submit" class="btn btn-primary btn-hover-dark d-block">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Section End -->

<%- include('../layouts/footer.ejs') -%>
