<%- include('../layouts/header.ejs') -%>

<!-- Contact Section Start -->
<div class="section section-padding"><br><hr><br><br>
    <h2 class="title text-center">CONTACT INFO</h2><br><br>
    <div class="container">

        <!-- Contact Wrapper Start -->
        <div class="contact-wrapper">
            <div class="row gx-0">
                <div class="col-lg-4">
                    <div class="contact-info">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit sed eiusmod
                        </p>

                        <!-- Contact Info Items Start -->
                        <div class="contact-info-items">
                            <div class="single-contact-info">
                                <div class="info-icon">
                                    <i class="pe-7s-call"></i>
                                </div>
                                <div class="info-content">
                                    <p>
                                        <a href="tel:+00125458222">+00 125 458 222</a>
                                    </p>
                                </div>
                            </div>

                            <div class="single-contact-info">
                                <div class="info-icon">
                                    <i class="pe-7s-mail"></i>
                                </div>
                                <div class="info-content">
                                    <p>
                                        <a href="mailto:demo@yourmail.com">demo@yourmail.com</a>
                                    </p>
                                </div>
                            </div>

                            <div class="single-contact-info">
                                <div class="info-icon">
                                    <i class="pe-7s-map-marker"></i>
                                </div>
                                <div class="info-content">
                                    <p>Your Address Goese Here</p>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Info Items End -->

                        <!-- Contact Social Start -->
                        <ul class="social">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                        <!-- Contact Social End -->

                        <img src="asset/images/contact-info.png" alt="Contact-info" />
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Contact Form Start  -->
                    <div class="contact-form">
                        <form id="contact-form" action="https://htmldemo.net/furbar-1/furbar/assets/php/contact.php" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="text" name="name" placeholder="Name*" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="email" name="email" placeholder="Email*" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="text" name="subject" placeholder="Subject" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input type="text" name="phone" placeholder="Phone No" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <textarea name="message" placeholder="Write your comments here"></textarea>
                                    </div>
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <button type="submit" class="btn btn-dark btn-hover-primary">
                                            Submit Review
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Contact Form End  -->
                </div>
            </div>
        </div>
        <!-- Contact Wrapper End -->
    </div>
</div>
<!-- Contact Section End -->

<!-- Contact Map Start -->
<div class="contact-map">
    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Mission%20District%2C%20San%20Francisco%2C%20CA%2C%20USA&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
</div>
<!-- Contact Map End -->

<!-- Footer Section Start -->
<div class="section footer-section">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-4">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <a href="index.html"><img src="asset/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Footer Logo End -->
                </div>
                <div class="col-xl-5 col-md-8">
                    <!-- Footer Contact & Payment End -->
                    <div class="footer-contact-payment">
                        <div class="footer-contact">
                            <div class="contact-icon">
                                <img src="asset/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                            </div>

                            <div class="contact-content">
                                <h6 class="title">Call Us:</h6>
                                <p>00 123 456 789</p>
                            </div>
                        </div>
                        <div class="footer-payment">
                            <img src="asset/images/payment.png" width="192" height="21" alt="Payment" />
                        </div>
                    </div>
                    <!-- Footer Contact & Payment End -->
                </div>
                <div class="col-xl-5">
                    <!-- Footer Subscribe End -->
                    <div class="footer-subscribe">
                        <span class="title">Subscribe Now :</span>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Your Mail" />
                                <button>
                                    <i class="pe-7s-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- Footer Subscribe End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <%- include('../layouts/footer.ejs') -%>