<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:15:27 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="asset/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="asset/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="asset/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="asset/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="asset/css/style.css"> -->
    <link rel="stylesheet" href="asset/css/style.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
</head>


<body>

<div class="section section-padding">

    <div class="container"><br><br><br><br>

        <div class="row justify-content-center">
            <div class="col-lg-4">

                <div class="login-register-wrapper ">
                    <h4 class="title text-center">ENTER YOUR EMAIL</h4>
                    <form id="forgetForm">
                        <div class="single-form">
                            <input type="text" name="email" id="email" placeholder="email" />
                            <p id="forget-error" class="error-message text-center"></p>
                        </div>
                        <div class="single-form d-flex justify-content-around">
                            <button type="button" onclick="forgetForm()" class="btn btn-primary btn-hover-dark">
                                sent link
                            </button>
                            <a href="/login" class="btn btn-primary btn-hover-dark">GO BACK</a>
                        </div>
                    </form>
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Login Section End -->








<script>
    function forgetForm() {
    console.log('value error');
    var email = document.getElementById('email').value;

    function isValidEmail(email) {
        // Basic email validation using a regular expression
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    // Empty email validation
    if (email.trim() === '') {
        document.getElementById('forget-error').innerText = 'Please enter your email address.';
        return false;
    } else {
        document.getElementById('forget-error').innerText = '';
    }


    callForget()
    return false

    }


    function callForget() {
        const formData = $('#forgetForm').serialize();
        console.log('login form data' , formData);
        const otpError = document.getElementById('forget-error')
        
        $.ajax({
            url: '/forgetpassword',
            type: 'POST',
            data:formData,
            success: function (data) {
                if(data.user){
                    otpError.textContent = data.message
                }else if(data.success){
                    console.log('helooooooo');
                    Swal.fire({
                        title: "Reset Link Sent!",
                        text: "A reset link has been sent to your email. Please check your inbox.",
                        icon: "success",
                        button: false,
                        timer: 3000  
                    }).then(() => {
                    window.location.href = "/login";
                });
                }
            },
            error: function (error) {
                console.error('AJAX request failed:', error);
            }
        });
        setTimeout(function () {
            otpError.textContent = '';
        }, 3000);
}
</script>

<!-- JS
============================================ -->

<!-- Modernizer & jQuery JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="asset/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="asset/js/vendor/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="asset/js/plugins/popper.min.js"></script>
<script src="asset/js/plugins/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="asset/js/plugins/swiper-bundle.min.js"></script>
<script src="asset/js/plugins/ajax-contact.js"></script>
<script src="asset/js/plugins/odometer.min.js"></script>
<script src="asset/js/plugins/select2.min.js"></script>
<script src="asset/js/plugins/ion.rangeSlider.min.js"></script>
<script src="asset/js/plugins/jquery.zoom.min.js"></script>

<!-- Main JS -->
<script src="asset/js/main.js"></script>        

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:01 GMT -->
</html>