<%- include('../layouts/header.ejs') -%>


    <!-- Slider Section Start -->
    <div class="section slider-section">
        <div class="slider-shape"></div>

        <div class="container">
            <div class="slider-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Single Slider Start  -->
                        <div class="single-slider swiper-slide animation-style-01">
                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h2 class="title">
                                    New Stylish <br />
                                        Decore Furniture
                                </h2>
                                <p>
                                    Unique Furniture Style Design for Your
                                    Family
                                </p>
                                <a href="/shop" class="btn btn-primary btn-hover-dark btn-margin">purchase now</a>
                            </div>
                            <!-- Slider Content End -->

                            <!-- Slider images Start -->
                            <div class="slider-images">
                                <img src="asset/images/slider/slider-item-1.png" width="707" height="477" alt="Slider" />
                            </div>
                            <!-- Slider images End -->
                        </div>
                        <!-- Single Slider End  -->

                        <!-- Single Slider Start  -->
                        <div class="single-slider swiper-slide animation-style-01">
                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h2 class="title">
                                    New Stylish <br />
                                        Decore Furniture
                                </h2>
                                <p>
                                    Unique Furniture Style Design for Your
                                    Family
                                </p>
                                <a href="/shop" class="btn btn-primary btn-hover-dark btn-margin">purchase now</a>
                            </div>
                            <!-- Slider Content End -->

                            <!-- Slider images Start -->
                            <div class="slider-images">
                                <img src="asset/images/slider/slider-item-2.png" width="707" height="477" alt="Slider" />
                            </div>
                            <!-- Slider images End -->
                        </div>
                        <!-- Single Slider End  -->

                        <!-- Single Slider Start  -->
                        <div class="single-slider swiper-slide animation-style-01">
                            <!-- Slider Content Start -->
                            <div class="slider-content">
                                <h2 class="title">
                                    New Stylish <br />
                                        Decore Furniture
                                </h2>
                                <p>
                                    Unique Furniture Style Design for Your
                                    Family
                                </p>
                                <a href="/shop" class="btn btn-primary btn-hover-dark btn-margin">purchase now</a>
                            </div>
                            <!-- Slider Content End -->

                            <!-- Slider images Start -->
                            <div class="slider-images">
                                <img src="asset/images/slider/slider-item-3.png" width="707" height="477" alt="Slider" />
                            </div>
                            <!-- Slider images End -->
                        </div>
                        <!-- Single Slider End  -->
                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Section End -->

    <!-- Banner Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <!-- Banner Wrapper Start -->
            <div class="banner-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner">
                            <img src="asset/images/banner/banner-01.jpg" width="370" height="245" alt="Banner" />

                            <div class="banner-content">
                                <h3 class="title">
                                    <a href="/shop">New Ruben Teak <br />
                                            Sideboard</a>
                                </h3>
                                <span class="discount">30% Off</span>
                                <a class="btn btn-primary btn-hover-dark" href="/shop">Shop Now</a>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner">
                            <img src="asset/images/banner/banner-02.jpg" width="370" height="245" alt="Banner" />

                            <div class="banner-content content-02">
                                <h3 class="title">
                                    <a href="/shop">New Reversible <br />
                                            Sofa</a>
                                </h3>
                                <span class="discount">30% Off</span>
                                <a class="btn btn-primary btn-hover-dark" href="/shop">Shop Now</a>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner">
                            <img src="asset/images/banner/banner-03.jpg" width="370" height="245" alt="Banner" />

                            <div class="banner-content">
                                <h3 class="title">
                                    <a href="/shop">New Lamp Light <br />
                                            Collection</a>
                                </h3>
                                <span class="discount">30% Off</span>
                                <a class="btn btn-primary btn-hover-dark" href="/shop">Shop Now</a>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
            </div>
            <!-- Banner Wrapper End -->
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- New Product Section Start -->
    <div class="section section-padding">
        <div class="container">
            <!-- Product Section Wrapper Start -->
            <div class="product-section-wrapper">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner-02">
                            <img src="asset/images/banner/banner-04.jpg" width="270" height="429" alt="Banner" />

                            <div class="banner-content">
                                <h3 class="title">
                                    <a href="/shop">All New Furniture</a>
                                </h3>
                                <span class="discount">40% Off</span>
                                <a class="btn btn-primary btn-hover-dark" href="/shop">Shop Now</a>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                    <div class="col-lg-9">
                        <!-- Product Wrapper Start -->
                        <div class="product-wrapper product-active">
                            <!-- Product Top Wrapper Start -->
                            <div class="product-top-wrapper">
                                <!-- Section Title Start -->
                                <div class="section-title order-md-1">
                                    <h2 class="title"># New Products</h2>
                                </div>
                                <!-- Section Title End -->

                                <!-- Swiper Arrows End -->
                                <div class="swiper-arrows order-md-3">
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-prev">
                                        <i class="pe-7s-angle-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="pe-7s-angle-right"></i>
                                    </div>
                                </div>
                                <!-- Swiper Arrows End -->
                            </div>
                            <!-- Product Top Wrapper End -->

                            <!-- Product Tabs Content Start -->
                            <div class="product-tabs-content">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab1">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <a href="/shop"><img src="asset/images/product/product-01.jpg" width="270" height="303" alt="product" /></a>
                                                        <div class="product-content">
                                                            <h4 class="title">
                                                                <a href="/shop">Elona
                                                                    bedside
                                                                    grey
                                                                    table</a>
                                                            </h4>
                                                            <div class="price">
                                                                <span
                                                                        class="sale-price"
                                                                        >$40.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Single Product End -->
                                                </div>
                                                <div class="swiper-slide">
                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <a href="/shop"><img src="asset/images/product/product-02.jpg" width="270" height="303" alt="product" /></a>
                                                        <div class="product-content">
                                                            <h4 class="title">
                                                                <a href="/shop">Simple
                                                                    minimal
                                                                    Chair</a>
                                                            </h4>
                                                            <div class="price">
                                                                <span
                                                                        class="sale-price"
                                                                        >$240.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Single Product End -->
                                                </div>
                                                <div class="swiper-slide">
                                                    <!-- Single Product Start -->
                                                    <div class="single-product">
                                                        <a href="/shop"><img src="asset/images/product/product-03.jpg" width="270" height="303" alt="product" /></a>
                                                        <div class="product-content">
                                                            <h4 class="title">
                                                                <a href="/shop">
                                                                    Pendant
                                                                    Chandelier
                                                                    Light</a>
                                                            </h4>
                                                            <div class="price">
                                                                <span
                                                                        class="sale-price"
                                                                        >$240.00</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Single Product End -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Tabs Content End -->
                        </div>
                        <!-- Product Wrapper End -->
                    </div>
                </div>
            </div>
            <!-- Product Section Wrapper End -->
        </div>
    </div>
    <!-- New Product Section End -->

    <!-- Call To Action Section Start -->
    <div class="section call-to-action" style="background-image: url(asset/images/bg-1.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!-- Call To Action Content Start -->
                    <div class="call-to-action-content text-center">
                        <h1 class="title">Welcome To Store</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="/shop" class="btn btn-primary btn-hover-dark btn-margin">purchase now</a>
                    </div>
                    <!-- Call To Action Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Call To Action Section End -->

    <!-- Brand Logo Section Start -->
    <div class="section brand-logo">
        <div class="container">
            <!-- Brand Logo Wrapper Start -->
            <div class="brand-logo-wrapper brand-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Brand Logo Wrapper Start -->
                        <div class="swiper-slide single-brand-02">
                            <img src="asset/images/brand/brand-2-1.png" width="118" height="87" alt="Brand" />
                        </div>
                        <!-- Brand Logo Wrapper End -->
                        <!-- Brand Logo Wrapper Start -->
                        <div class="swiper-slide single-brand-02">
                            <img src="asset/images/brand/brand-2-2.png" width="118" height="87" alt="Brand" />
                        </div>
                        <!-- Brand Logo Wrapper End -->
                        <!-- Brand Logo Wrapper Start -->
                        <div class="swiper-slide single-brand-02">
                            <img src="asset/images/brand/brand-2-3.png" width="118" height="87" alt="Brand" />
                        </div>
                        <!-- Brand Logo Wrapper End -->
                        <!-- Brand Logo Wrapper Start -->
                        <div class="swiper-slide single-brand-02">
                            <img src="asset/images/brand/brand-2-4.png" width="118" height="87" alt="Brand" />
                        </div>
                        <!-- Brand Logo Wrapper End -->
                        <!-- Brand Logo Wrapper Start -->
                        <div class="swiper-slide single-brand-02">
                            <img src="asset/images/brand/brand-2-5.png" width="118" height="87" alt="Brand" />
                        </div>
                        <!-- Brand Logo Wrapper End -->
                    </div>
                </div>
            </div>
            <!-- Brand Logo Wrapper End -->
        </div>
    </div>
    <!-- Brand Logo Section End -->

    <!-- Benefit Section Start -->
    <div class="section section-padding">
        <div class="container">
            <!-- Benefit Wrapper Start -->
            <div class="benefit-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Benefit Start -->
                        <div class="single-benefit">
                            <img src="asset/images/icon/icon-1.png" width="70" height="92" alt="Icon" />
                            <h3 class="title">Free Shipping</h3>
                            <p>
                                Get 10% cash back, free shipping, free
                                returns, and more at 1000+ top retailers!
                            </p>
                        </div>
                        <!-- Single Benefit End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Benefit Start -->
                        <div class="single-benefit">
                            <img src="asset/images/icon/icon-2.png" width="70" height="92" alt="Icon" />
                            <h3 class="title">Safe Payment</h3>
                            <p>
                                Get 10% cash back, free shipping, free
                                returns, and more at 1000+ top retailers!
                            </p>
                        </div>
                        <!-- Single Benefit End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Benefit Start -->
                        <div class="single-benefit">
                            <img src="asset/images/icon/icon-3.png" width="70" height="92" alt="Icon" />
                            <h3 class="title">Online Support</h3>
                            <p>
                                Get 10% cash back, free shipping, free
                                returns, and more at 1000+ top retailers!
                            </p>
                        </div>
                        <!-- Single Benefit End -->
                    </div>
                </div>
            </div>
            <!-- Benefit Wrapper End -->
        </div>
    </div>
    <!-- Benefit Section End -->

    <%- include('../layouts/footer.ejs') -%>