<%- include('../layouts/header.ejs') -%>

<!-- Login Section Start -->
<br>
<div class="section section-padding">

    <div class="container"><hr><br><br><br><br>

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <div class="login-register-wrapper">
                    <h4 class="title">Login to Your Account</h4>
                    <form id="loginForm">
                        <div class="single-form">
                            <input type="text" name="email" id="email" placeholder="email" />
                            <p id="email-error" class="error-message"></p>
                        </div>
                        <div class="single-form">
                            <input type="password" name="password" id="password" placeholder="Password" />
                            <p id="password-error" class="error-message"></p>
                        </div>
                        <div class="single-form">
                            <input type="checkbox" id="remember" />
                            <label for="remember"><span></span> Remember me</label>
                        </div>
                        <div class="single-form">
                            <button type="button" onclick="loginForm()" class="btn btn-primary btn-hover-dark">
                                Login
                            </button>
                        </div>
                    </form>
                    <p><a href="/forgetpassword">Forget your password?</a></p>
                    <p>
                        No account?
                        <a href="/signup">Create one here.</a>
                    </p>
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Login Section End -->

<script>
function loginForm() {
    console.log('value error');
    var email = document.getElementById('email').value;
    var password = document.getElementById('password').value;

    function isValidEmail(email) {
        // Basic email validation using a regular expression
        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
    }

    // Empty email validation
    if (email.trim() === '') {
        document.getElementById('email-error').innerText = 'Please enter your email address.';
        return false;
    } else {
        document.getElementById('email-error').innerText = '';
    }

    // Empty password validation
    if (password.trim() === '') {
        document.getElementById('password-error').innerText = 'Please enter your password.';
        return false;
    } else if (password.length < 6) {
        document.getElementById('password-error').innerText = 'Password must be at least 6 characters long.';
        return false;
    } else {
        document.getElementById('password-error').innerText = '';
    }


    callAjax()
    return false

    }


    function callAjax() {
        const formData = $('#loginForm').serialize();
        console.log('login form data' , formData);
        const otpError = document.getElementById('password-error')
        
        $.ajax({
            url: '/login',
            type: 'POST',
            data:formData,
            success: function (data) {
                if(data.user){
                    otpError.textContent = data.message
                }else if(data.block){
                    Swal.fire({
                    icon: 'warning',
                    title: 'you are a blocked user',
                    text:data.message
                });
                return;
                }else if(data.message === 'success'){
                    window.location.href = data.redirect;
                }else{
                    window.location.href = `/verifyOtp?id=${data._id}&id2=${data.message}`;
                }
            },
            error: function (error) {
                console.error('AJAX request failed:', error);
            }
        });
        setTimeout(function () {
            otpError.textContent = '';
        }, 3000);
}

    
</script>



<%- include('../layouts/footer.ejs') -%>