    <!DOCTYPE html>
    <html lang="en">


    <!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:15:27 GMT -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
        <meta name="robots" content="noindex, follow" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="asset/images/favicon.png" />

        <!-- CSS
        ============================================ -->

        <!-- Icon Font CSS -->
        <link rel="stylesheet" href="asset/css/plugins/pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="asset/css/plugins/font-awesome.min.css" />

        <!-- Plugins CSS -->
        <link rel="stylesheet" href="asset/css/plugins/bootstrap.min.css" />
        <link rel="stylesheet" href="asset/css/plugins/animate.min.css" />
        <link rel="stylesheet" href="asset/css/plugins/swiper-bundle.min.css" />
        <link rel="stylesheet" href="asset/css/plugins/odometer.min.css" />
        <link rel="stylesheet" href="asset/css/plugins/select2.min.css" />
        <link rel="stylesheet" href="asset/css/plugins/ion.rangeSlider.min.css" />

        <!-- Main Style CSS -->
        <!-- <link rel="stylesheet" href="asset/css/style.css"> -->
        <link rel="stylesheet" href="asset/css/style.min.css" />
    </head>





    <% if (typeof message !== 'undefined') { %>
    <% } %>
    
<div class="card custom-card">
    <div class="card-body">
        <h2 class="custom-title">VERIFY OTP</h2>
            <div class="card-body">
            <form id="otpForm">
                <a class="link-danger"><p id="otp-error" class="text-center"></p></a>
                <a class="link-success"><p id="resendMessage"></p></a>
                    <div class="otp-input-wrapper">
                        <input style="margin-left: 48px;" type="text" maxlength="4" name="otp" pattern="[0-9]*" autocomplete="off" class="form-control mb-3">
                        <svg viewBox="0 0 240 1" xmlns="http://www.w3.org/2000/svg" class="mb-3">
                            <line class="custom-line" x1="0" y1="0" x2="240" y2="0" stroke="#3e3e3e" stroke-width="2" stroke-dasharray="44,22" />
                        </svg>
                        <input type="text" name="id" value="<%=id%>" hidden>
                    </div>
                    <button class="mt-4 btn btn-primary btn-hover-dark" onclick="otpCheck()" type="button">Verify OTP</button><br><br>
                <button id="myButton" class="user-btn" onclick="startTimer(1)" disabled>resend otp</button>
                <div id="timerDisplay"></div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
 function startTimer() {
    console.log('Timer started');
    var secondsRemaining = 60;

    document.getElementById('myButton').disabled = true;

    var timerInterval = setInterval(function () {
        document.getElementById('timerDisplay').innerText = 'Resend OTP in: ' + secondsRemaining + ' seconds';

        if (secondsRemaining <= 0) {
            clearInterval(timerInterval);
            document.getElementById('myButton').disabled = false;
            document.getElementById('timerDisplay').innerText = '';
        } else {
            secondsRemaining--;
        }
    }, 1000);
}

function resendOTP() {
    const id = '<%=id%>';
    $.ajax({
        url: `/resendotp?id=${id}`,
        type: 'POST',
        success: function (data) {
            if (data.otp) {
                console.log('OTP resend successfully');
                document.getElementById('resendMessage').innerText = 'New OTP has been sent to your mail';
                setTimeout(() => {
                    document.getElementById('resendMessage').innerText = '';
                }, 3000);
            }
        },
        error: function (error) {
            console.error('Error:', error);
        }
    });
}

window.onload = function () {
    startTimer(); 
};

document.getElementById('myButton').addEventListener('click', function () {
    resendOTP(); 
    clearInterval(timerInterval); 
    startTimer();
});

function otpCheck() {
    const formData = $('#otpForm').serialize();
    const otpErrorElement = document.getElementById('otp-error');

    console.log('otppppppppppppp');

    $.ajax({
        url: '/otp',
        type: 'POST',
        data: formData,
        success: function (data) {
            if (data.otp === false) {
                otpErrorElement.textContent = data.message;
            } else if(data.otp == 'expired'){
                otpErrorElement.textContent =data.message ;
            }else if(data.otp == 'invalid'){
                otpErrorElement.textContent =data.message ;
            }else if(data.otp){
                window.location.href = `/`;
            }
            
        },
        error: function (error) {
            // Handle errors
            console.error('Error:', error);
        }
    });
    setTimeout(function () {
            otpErrorElement.textContent = '';
    }, 3000);
}

document.addEventListener('DOMContentLoaded', function () {
            var notificationMessage = '<%- message %>';
            if(notificationMessage){
            Swal.fire({
                icon: 'warning',
                title: notificationMessage,
                showConfirmButton: false,
                timer: 3000 
            });
        }
        });
    

</script>
<!-- Modernizer & jQuery JS -->
<script src="asset/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="asset/js/vendor/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="asset/js/plugins/popper.min.js"></script>
<script src="asset/js/plugins/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="asset/js/plugins/swiper-bundle.min.js"></script>
<script src="asset/js/plugins/ajax-contact.js"></script>
<script src="asset/js/plugins/odometer.min.js"></script>
<script src="asset/js/plugins/select2.min.js"></script>
<script src="asset/js/plugins/ion.rangeSlider.min.js"></script>
<script src="asset/js/plugins/jquery.zoom.min.js"></script>

<!-- Main JS -->
<script src="asset/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:01 GMT -->
</html>