<%- include('../layouts/header.ejs') -%>

    <style>
        .otp {
            margin: 30% 5% 10% 5%;
        }
    
        @media only screen and (min-width: 600px) {
            .otp {
                margin: 10% auto;
                max-width: 400px;
            }
        }
    </style>

    <div class="otp">
    <%
    if(typeof message !== 'undefined'){
        %>
        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
            <i class="bi-exclamation-octagon-fill"></i>
            <strong class="mx-auto" >  <%- message %></strong>  
           
        </div>
        <%
    } 
    %>

        <form action="" method="post">
            <label for="otp">Enter OTP:</label><br>
            <input type="text" id="otp" name="otp" maxlength="4" pattern="\d{4}" ><br>
            <button type="submit">Verify OTP</button>
        </form>
    </div>


<%- include('../layouts/footer.ejs') -%>
