<%- include('../layouts/header.ejs') -%>
<%- include('../layouts/usernav.ejs') -%>


<div class="my-23">


<h1>wellcomeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</h1>

<a href="/logout"><button type="submit" class="btn btn-success mx-20" >Logout</button></a>



</div>





<%- include('../layouts/userfoot.ejs') -%>
<%- include('../layouts/footer.ejs') -%>