<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:15:27 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="asset/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="asset/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="asset/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="asset/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="asset/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="asset/css/style.css"> -->
    <link rel="stylesheet" href="asset/css/style.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    
</head>



<body>


    <div class="section section-padding">

        <div class="container"><br><br><br><br>
    
            <div class="row justify-content-center">
                <div class="col-lg-4">
    
                    <div class="login-register-wrapper">
                        <h4 class="title text-center">Enter your new password</h4>
                        <p id="ajax-error" class="error-message text-center"></p>
                        <form id="resetForm">
                            <div class="single-form">
                                <input type="password" name="password" id="password" placeholder="password"/>
                                <p id="reset-error" class="error-message text-center"></p>
                            </div>
                            <div class="single-form">
                                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm password"/>
                                <p id="reset2-error" class="error-message text-center"></p>
                            </div>
                            <input value="<%=token%>" name="token" hidden/>
                            <div class="single-form d-flex justify-content-center">
                                <button type="button" onclick="resetForm()" class="btn btn-primary btn-hover-dark">
                                    reset
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- Login & Register End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section End -->
    
<script>
    function resetForm() {
    console.log('value error');
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value

    // Empty email validation
    if (password.trim() === '') {
        document.getElementById('reset-error').innerText = 'please enter a password';
        return false;
    } else if (password.length < 8) {
        document.getElementById('reset-error').innerText = 'Password is too short'
        return false;
        }
        if (confirmPassword === "") {
            document.getElementById('reset2-error').innerText = 'password cannot be empty';
            return false;
        }else if(password !== confirmPassword){
            document.getElementById('reset2-error').innerText = 'password is not matching';
            return false
        }


    callReset()
    return false

    }


    function callReset() {
        const formData = $('#resetForm').serialize();
        console.log('login form data' , formData);
        const resetError = document.getElementById('ajax-error')
        
        $.ajax({
            url: '/resetpassword',
            type: 'POST',
            data:formData,
            success: function (data) {
                if(data.ok){
                    Swal.fire({
                    icon: 'warning',
                    title: 'invalid token',
                    text:data.message
                });
                }else if(data.success){
                    Swal.fire({
                    title: "success",
                    text: "successfully updated the password",
                    icon: "success",
                    button: false,
                    timer: 3000 
                }).then(() => {
                    window.location.href = "/login";
                });
                }
            },
            error: function (error) {
                console.error('AJAX request failed:', error);
            }
        });
}
</script>


<!-- JS
============================================ -->

<!-- Modernizer & jQuery JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="asset/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="asset/js/vendor/jquery-3.5.1.min.js"></script>

<!-- Bootstrap JS -->
<script src="asset/js/plugins/popper.min.js"></script>
<script src="asset/js/plugins/bootstrap.min.js"></script>

<!-- Plugins JS -->
<script src="asset/js/plugins/swiper-bundle.min.js"></script>
<script src="asset/js/plugins/ajax-contact.js"></script>
<script src="asset/js/plugins/odometer.min.js"></script>
<script src="asset/js/plugins/select2.min.js"></script>
<script src="asset/js/plugins/ion.rangeSlider.min.js"></script>
<script src="asset/js/plugins/jquery.zoom.min.js"></script>

<!-- Main JS -->
<script src="asset/js/main.js"></script>        

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:01 GMT -->
</html>