<%- include('../layouts/header.ejs') -%>

<!-- Register Section Start -->
<div class="section section-padding">
    <div class="container"><br><hr><br><br><br><br>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Login & Register Start -->
                <div class="login-register-wrapper">
                    <h4 class="title">Create New Account</h4>
                    <p>
                        Already have an account?
                        <a href="/login">Log in instead!</a>
                    </p>
                    
                    <form id="signupForm" >

                        <div class="checkout-info">
                            <p class="info-header">
                                <i class="fa fa-exclamation-circle"></i> Have a referal code?
                                <a data-bs-toggle="collapse" href="#coupon">Click here to enter your code</a>
                            </p>
                            <div class="collapse" id="coupon">
                                <div class="card-body" id="reloadDiv">
                                    <div class="row">
                                        <div class="single-form">
                                        <input type="text" id="referalCode" name="code" placeholder="referal code" />
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>                        

                        <div class="single-form">
                            <input type="text" id="name" name="name" placeholder="Name *" />
                            <div class="error-container">
                                <div id="nameError" class="error-message"></div>
                            </div>
                        </div>

                        <div class="single-form">
                            <input type="text" id="email" name="email" placeholder="Email Address *" />
                            <div class="error-container">
                                <div id="emailError" class="error-message"></div>
                            </div>
                        </div>

                        <div class="single-form">
                            <input type="text" id="mobile" name="mobile" placeholder="Mobile *" />
                            <div class="error-container">
                                <div id="mobileError" class="error-message"></div>
                            </div>
                        </div>

                        <div class="single-form">
                            <input type="password" id="password" name="password" placeholder="Password *" />
                            <div class="error-container">
                                <div id="passwordError" class="error-message"></div>
                            </div>
                        </div>
                        <div class="single-form">
                            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password *" />
                            <div class="error-container">
                                <div id="confirmPasswordError" class="error-message"></div>
                            </div>
                        </div>
                        
                        <a class="link-danger"><p id="signupError" class="text-center"></p></a>
                        <div class="single-form">
                            <button id="registerButton" type="button" class="btn btn-primary btn-hover-dark">
                                Register
                            </button>
                        </div>
                    </form>
                    
                    
                    
                </div>
                <!-- Login & Register End -->
            </div>
        </div>
    </div>
</div>
<!-- Register Section End -->




<script>
document.addEventListener('DOMContentLoaded',function () {
    console.log('hiiiiiiiiiiiiiiii');
    const form = document.getElementById('signupForm');

    const registerButton = document.getElementById('registerButton');

    registerButton.addEventListener('click',async function () {
        clearErrorMessages();

        if (await validateForm()) {
            userSignUp();
        }
    });

    function validateForm() {
        const name = document.getElementById('name').value;
        const email = document.getElementById('email').value;
        const mobile = document.getElementById('mobile').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        let isValid = true;

        if (name === "") {
            displayError('name', 'name cannot empty');
            isValid = false;
            } else if (/^[]/.test(name)) {
                displayError('name', 'Invalid name entered');
                isValid = false;
            }

        if (email === "") {
            displayError('email', 'email cannot be empty');
            isValid = false;
        } else if (!/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            displayError('email', 'Invalid email entered');
            isValid = false;
        }

        if (mobile === "") {
            displayError('mobile', 'mobile cannot be empty');
            isValid = false;
        }else if(!/^\d{10}$/.test(mobile)){
            displayError('mobile','invalid mobile number')
            isValid = false
        }

        if (password === "") {
            displayError('password', 'password cannot be empty');
            isValid = false;
        } else if (password.length < 8) {
            displayError('password', 'Password is too short');
            isValid = false;
        }
        if (confirmPassword === "") {
            displayError('confirmPassword', 'password cannot be empty');
            isValid = false;
        }else if(password !== confirmPassword){
            displayError('confirmPassword', 'password is not matching');
            isValid = false;
        }

        return isValid;
    }

    function displayError(fieldId, errorMessage) {
        const errorContainer = document.getElementById(`${fieldId}Error`);
        errorContainer.textContent = errorMessage;
    }

    function clearErrorMessages() {
        const errorMessages = document.querySelectorAll('.error-message');
        errorMessages.forEach(error => error.textContent = '');
    }
});

document.addEventListener('DOMContentLoaded', function() {
    var errorMessageElement = document.getElementById('errorMessage');
    if (errorMessageElement) {
        setTimeout(function() {
            errorMessageElement.style.display = 'none';
        }, 3000);
    }
});

</script>
<script>

function userSignUp() {
    const formData = $('#signupForm').serialize();
    console.log('hiiiiiiiiiiiiiiiiii');
    const signupError = document.getElementById('signupError')

    $.ajax({
        url: '/signup',
        type: 'POST',
        data: formData,
        success: function (data) {
            console.log(data,'response');
            location.href = '/home'
            if (!data.referal) {
                signupError.textContent = data.message
            }
            if(data.user == false){
                signupError.textContent = data.message
            }
            if(data.success){
                console.log('reached hereee');
                location.href = `/verifyOtp?id=${data.id}`;
            }
            
        },
        error: function (error) {
            console.error('Error:', error);
        }
    });
    setTimeout(function () {
        signupError.textContent = '';
    }, 3000);
}

</script>
<%- include('../layouts/footer.ejs') -%>